
<% include head %>

<h1>for 4 Image only one http request was sent</h1>
<img src="assets/lily.jpg" alt="Girl in a jacket" width="500" height="600">
<img src="assets/lily.jpg" alt="Girl in a jacket" width="500" height="600">
<img src="assets/lily.jpg" alt="Girl in a jacket" width="500" height="600">
<img src="assets/lily.jpg" alt="Girl in a jacket" width="500" height="600">

<% include foot %>
